<footer class="footer">
    <div class="container">
    <div class="row">
      <div class="about col-lg-4 col-md-4 col-sm-6 col-4">
        <ul>
          <h2>About</h2>
          <li>Home</li>
          <li>Services</li>
          <li>Our Story</li>
        </ul>
      </div>
      <div class="contact col-lg-4 col-md-4 col-sm-6 col-8">
        <ul>
          <h2>Contact Us</h2>
          <li><a href="#" class="fa fa-envelope"></a>contact@fovies.com</li>
          <li><a href="#" class="fa fa-phone"></a>+1-(xxx)-(xxx)-(xxxx)</li>
          <li><a href="#" class="fa fa-map"></a>Irvine, CA 92617</li>
        </ul>
      </div>
      <div class="follow col-lg-4 col-md-4 col-sm-12">
        <ul>
          <h2>Follow Us</h2>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-youtube"></a></li>          
        </ul>
      </div>
    </div>
    <div class="content">
      <p>
        Made with &hearts; by <a href="#">Bhavik</a>
      </p>
      <p>
        &copy;2020 Fovies - All Rights
        Reserved
      </p>
    </div>
    </div>
    </footer>
