<div class="Services">
    <div class="container">
        <div class="row">
          <div class="column-66">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur architecto natus explicabo temporibus accusantium. Ratione delectus enim, consequatur perspiciatis laudantium error officiis dicta, quod sapiente, ab animi iure tenetur doloribus.</p>
          </div>
          <div class="column-33">
            <img src="assets/images/devices.svg">
          </div>
        </div>
    </div>
      
    <div class="container">
        <div class="row">
          <div class="column-33">
            <img src="assets/images/phone.svg">
          </div>
          <div class="column-66">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam molestiae quas totam quos ipsam minima dolores obcaecati magni ad dolorum! Ab at aliquid dicta non suscipit voluptate a hic nostrum.</p>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
          <div class="column-66">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur architecto natus explicabo temporibus accusantium. Ratione delectus enim, consequatur perspiciatis laudantium error officiis dicta, quod sapiente, ab animi iure tenetur doloribus.</p>
          </div>
          <div class="column-33">
            <img src="assets/images/tablet.svg">
          </div>
        </div>
    </div>
      
    <div class="container">
        <div class="row">
          <div class="column-33">
            <img src="assets/images/Desktop.svg">
          </div>
          <div class="column-66">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam molestiae quas totam quos ipsam minima dolores obcaecati magni ad dolorum! Ab at aliquid dicta non suscipit voluptate a hic nostrum.</p>
          </div>
        </div>
    </div>    
</div>
