<section class="Welcome">
    <video autoplay loop>
        <source type="video/mp4" src="assets/video/comingsoon.mp4">  
    </video>
    <div class="overlay">
        <div class="container">
            <p>More awesome content is coming your way...</p>
        </div>
    </div>
</section>

<section class="Feature1">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ab odio culpa dicta sit unde iusto voluptatem sequi totam perspiciatis quod, aspernatur ipsam voluptatibus, corrupti pariatur laborum reiciendis quibusdam ad!
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="assets/images/icon.jpg">
        </div>
    </div>        
</div>
</section>

<section class="Feature2">
    <div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img src="assets/images/popcorn.png">
        </div>
        <div class="col-lg-6 col-sm-12">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ab odio culpa dicta sit unde iusto voluptatem sequi totam perspiciatis quod, aspernatur ipsam voluptatibus, corrupti pariatur laborum reiciendis quibusdam ad!
            </p>
        </div>
    </div>
    </div>
</section>
